<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:src="@{/js/admin_notice.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}">

    <title>공지 페이지</title>
</head>
<body style="margin-bottom: 200px">
<th:block th:insert="~{common/adminHeader::header}"></th:block>

    <div class="mb-2 mt-2 col-lg-6">
        <div name="addNotice" id="addNotice">
                <h5>공지 추가</h5><br>
                <label>제목:</label>
                <input type="text" id="subject" name="subject"/>
                <label>내용:</label>
                <textarea rows="10" id="contents" name="contents"></textarea>
                <button type="button" id="btn_notice">등록</button>
        </div>

    <div class="mb-2 mt-2 col-lg-6">
        <h3><strong>전체 공지수</strong><strong>  </strong></h3>
        <hr>
        <table class="table table-hover">
            <thead class="table-secondary">
                <th>작성자</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성일</th>
                <th></th>
            </thead>
            <tbody id="notice_list">
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>