body {
    background-color: #f8f9fa;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}



.header-menu {
    width: 100%;
    height: 50px;
    margin: 15px 0;
    padding: 15px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-menu li {
    margin-right: 20px;
}

/* 로고 */
.header-logo h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.header-logo a {
    text-decoration: none;
    color: inherit;
}

.header-logo a:hover {
    color: #007bff;
}

/* 검색 */
.header-search form {
    display: flex;
    align-items: center;
}

#header-typeSelect,
#header-keywordInput {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#header-searchButton {
    padding: 8px 16px;
}





/* 프로필 */
.header-profile {
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.header-profile ul {
    width: 300%;
    display:none;
    position: absolute;
    top: 100%;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    z-index: 2;
}

.header-profile:hover ul {
    display: block;
}

.header-profile ul li {
    width: 100%;
    text-align: center;
}

.header-profile ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.header-profile ul li:hover {
    background: #f0f0f0;
}
